.moon {
    background: rgb(128, 128,128);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    display: flex;
    }
.fon {
    background-color:black;    
}
    
.moon::before {
    content:"";

    background-color: #ca806d;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 3.25s animation1 linear infinite alternate;
    }
    @keyframes animation1{
        0%{
        transform: translateX(40px) scale(0.9);
        box-shadow: none;
        }
        50%{
        transform: translate(0px 0px) scale(1.02);
        box-shadow: 0 0  10px 10px #ffff, 0 0 2px #ffff;
        } 
        100% {
        transform: translateX(-40px) scale(0.9);
        box-shadow: none;
        }
        
    }